#Container
{
  width: 100%;
  height: 880px;
  text-align: center;
}

#footer
{
  width: 100%;
  height: 380px;
  background-color: black;
  text-align: center;
}

#piano
{
  width: 750px;
  height: 380px;
  margin: auto;
  background-color: black;
  position: absolute;
  opacity: 0.9;
  filter:alpha(opacity=90); 
}
#noteHolder
{

  width: 715px;
  height: 160px;
  background:url(noteback.jpg);
  background-repeat: no-repeat;
  margin-top: 10px;
  margin-left: 15px;
  background-color: white;
  display: none;
}
#note1
{
  cursor: pointer;
  width: 70px;
  height: 190px;
  position: absolute;
  background-color: white;
  margin-top: 10px;
  margin-left: 15px;
  display: none;
}
#note2{
  margin-left: 95px;
  cursor: pointer;
  width: 70px;
  height: 190px;
  position: absolute;
  background-color: white;
  margin-top: 10px;
  display: none;
}
#note3{
  margin-left: 175px;
  cursor: pointer;
  width: 70px;
  height: 190px;
  position: absolute;
  background-color: white;
  margin-top: 10px;
  display: none;
}
#note4{
  margin-left: 255px;
  cursor: pointer;
  width: 70px;
  height: 190px;
  position: absolute;
  background-color: white;
  margin-top: 10px;
  display: none;
}
#note5{
  margin-left: 335px;
  cursor: pointer;
  width: 70px;
  height: 190px;
  position: absolute;
  background-color: white;
  margin-top: 10px;
  display: none;
}
#note6{
  margin-left: 415px;
  cursor: pointer;
  width: 70px;
  height: 190px;
  position: absolute;
  background-color: white;
  margin-top: 10px;
  display: none;
}
#note7{
  margin-left: 495px;
  cursor: pointer;
  width: 70px;
  height: 190px;
  position: absolute;
  background-color: white;
  margin-top: 10px;
  display: none;
}
#note8{
  margin-left: 577px;
  cursor: pointer;
  width: 70px;
  height: 190px;
  position: absolute;
  background-color: white;
  margin-top: 10px;
  display: none;
}
#note9{
  margin-left: 660px;
  cursor: pointer;
  width: 70px;
  height: 190px;
  position: absolute;
  background-color: white;
  margin-top: 10px;
  display: none;
}
#ball1,#ball2,#ball3,#ball4,#ball5,#ball6,#ball7,#ball8,#ball9
{
  width: 40px;
  height: 40px;
  background-color: black;
  position: absolute;
  margin-top: 110px;
  margin-left: 15px;
  border-radius: 20px;
  display: none;
}
#ball2{margin-left: 95px;}
#ball3{margin-left: 175px;}
#ball4{margin-left: 255px;}
#ball5{margin-left: 335px;}
#ball6{margin-left: 415px;}
#ball7{margin-left: 500px;}
#ball8{margin-left: 580px;}
#ball9{margin-left: 660px;}

#bigTitle
{
  font-family: Georgia, serif;
  font-size: 55px;
  color: white;
}
#titleCont
{
  width: 400px;
  height: 90px;
  background-color: transparent;
  margin-left: 580px;
}
.menuBar
{
  height: 90px;
  width: 833px;
  background-color:black;
  position: absolute;
  opacity: 0.9;
 filter:alpha(opacity=90);
}
.menuBar ul li
{
  list-style: none;
  display: inline;
  padding: 15px;

}
.menuBar a 
{
  color: white;
  text-decoration: none;
  padding: 10px;
}
.menuBar ul li:hover
{
  background-color: red;
  transition:all 0.45s;
  opacity: 0.7;
  filter:alpha(opacity=90);
}


